*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: title;
    src: url(./pages/img/Urbanist/Urbanist-VariableFont_wght.ttf)
}
@font-face {
    font-family: sous-titre;
    src: url(./icon/Cabin-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: usual;
    src: url(./icon/KantumruyPro-VariableFont_wght.ttf);
}
/* /https://coolors.co/palette/f72585-b5179e-7209b7-560bad-480ca8-3a0ca3-3f37c9-4361ee-4895ef-4cc9f0 */
body{
    font-family: title;
    display: grid;
    grid-template-columns: 200PX 60px 80px repeat(8, 1fr) 200PX;
    grid-template-rows: 40px 50PX repeat(10, 1fr) 50PX 40PX;
    height: 100vh;
    background-color: black;
}
body >main{
    outline: 2px solid #409154;
    outline-offset: -10px;
    padding-left: 5vh;
    height: 100%;
    width: 100%;
    background-color: #222222;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 13;
}
/* ============================= NAV ================================= */
nav{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #409154;
    width: 100;
    grid-row-start: 2;
    grid-row-end: 14;
    grid-column-start: 3;
    z-index: 3;
    box-shadow: 2px 2px 6px rgb(54, 75, 50);
}
nav section{
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
a{
    display: flex;
    justify-content: center;
    text-decoration: none; 
}

nav i{
    font-size: 50px;
    color: black;
    background-color: #409154;;
}
nav i:hover{
    color: rgb(73, 218, 121);
}
li{
    list-style: none;
}

/* ============================= About me ================================= */
/* Presentation */
#main-aboutme{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#main-aboutme #presentationBox{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#title{
    width: 80%;
    color:#519461;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#presentationBox h1{
    color: #5aca76;
    text-align: center;
    font-size: 50px;

}
#presentationBox{
    padding-bottom: 10px;
    font-family: title;
    text-align: center;
}
#presentation{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
#presentationBox  p{

    color: #aca8a8bb;
width: 50%;

}
#avatar{
    display: flex;
    justify-content: flex-end;
    border-bottom: 2px #409154 solid;
    border-left: 2px #409154 solid;
    width: 270px;
    height: 270px;
    margin-top: 20px;
    margin-right: 20px;
}
/* characteristic */

#characteristicBox{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    height: 300px;
    margin-left: 100px;
    margin-bottom: 10px;
}
#qualities{
padding-right: 10px;
border-right: #5aca76 1px solid;
display: flex;
align-items: center;
width: 400px;
display: flex;
flex-direction: column;
}
.qualityElements{
    display: flex;
    flex-direction: column;
}
#characteristicBox h3{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
color: #45ac5e;
}
.qualityBar{
    border: #397e49 1px solid;
    border-radius: 7px;
    width: 300px;
    height: 20px;
}
.valueBar{
    border-radius: 7px;
}
#aValue{
    background-color: #45ac5e;
    height: 100%;
    width: 80%;
}
#bValue{
    background-color: #45ac5e;
    height: 100%;
    width: 75%;
}
#cValue{
    background-color: #45ac5e;
    height: 100%;
    width: 80%;
}
#dValue{
    background-color: #45ac5e;
    height: 100%;
    width: 90%;
}
#eValue{
    background-color: #45ac5e;
    height: 100%;
    width: 87%;
}

#hobbiesElements{
    padding-left: 10px;
    padding-right: 10px;
    border-right: #5aca76 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 400px;
}
.band{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.band > i{
margin-right:30px ;
color: #3aa354;
font-size: 35px;
}
#languages{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#languagesElements{
    padding: 20px;
    height: 100%;
    color: #3aa354;
}
#languagesElements ul{
    text-align: center;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
#skillsBox{
    border-top: #5aca76 1px solid;
    width: 85%;
    height: 180px;
    margin-left: 10%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.iconPL i {
    color: #397e49;
    font-size: 60px;
}
#mysql{
    color: #397e49;
    font-size: 40px;
}


/* ============================= Experience ================================= */

.main-exp{
    height: 82vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.forScroll{
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.main-exp  li{
    display: flex;
    flex-direction: column;
    margin:0 auto ;
    font-size: 2vh;
    display: flex;
    align-items: center;
    width: 80%;
    height: fit-content;
    color: rgb(207, 210, 212);
}
.main-exp h3{
    padding-bottom: 10px;
}
.exp2 li{
    text-align: center;
    padding: 3vh;
}
.exp3 li{
    text-align: center;
    padding: 3vh;
}
.main-exp h2{
    text-align: center;
    margin: 2rem;
    font-size: 3rem;
    color:#409154;
}
.one{

    border-left: 1px solid #5aca76;
    border-left: 1px solid #5aca76;
    border-bottom: 1px solid #5aca76;
}
.two{
    border-left: 1px solid #5aca76;
    border-bottom: 1px solid #5aca76;
}
.three{
    border-right: 1px solid #5aca76;
    border-bottom: 1px solid #5aca76;
}
.four{
    border-right: 1px solid #5aca76;
    border-bottom: 1px solid #5aca76;
}
.five{
    border-left: 1px solid #5aca76;
    border-bottom: 1px solid #5aca76;
}
.six{
    border-right: 1px solid #5aca76;
    border-bottom: 1px solid #5aca76;
}
.seven{
    border-left: 1px solid #5aca76;
    border-bottom: 1px solid #5aca76;
}
.eight{
    border-right: 1px solid #5aca76;
}

/* ============================= Portfolio ================================= */
.main-portfolio{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.picture2{
    background-image: url(./pages/img/glasses-1052010_1280.jpg);
    height: 20vh;
    width: 100%;
    background-size: cover;
}
.picture1{
    background-image: url(./pages/img/matcha-6079526_1920.jpg);
    height: 20vh;
    width: 100%;
    background-size: cover;
}
.cards{
    box-shadow: 5px 5px 10px #030e05,-5px -5px 10px ;
    border: #5aca76 solid 2px;
    width: 300px;
    height: 370px;
    transition: 3s;
}
.cards:hover{
    transition: 2s;
    transform: scale(1.3);
    box-shadow: 5px 5px 20px #030e05,-5px -5px 20px ;
}
.main-portfolio a{
    align-items: center;
    background-color: #2a423094;
    text-align: center;
    font-size: 1.5vw;
    color: #5aca76;
    margin-top: 4vh;
    width: 100%;
    height: 5vh;
}
.main-portfolio p{
    margin-top: 3vh;
    text-align: center;
    color: #48664f;
}
.portfolio{
    height: 75vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    color: #397e49;
    border-right: 2px solid#5aca764d;
    padding-right: 1vw;
    /* box-shadow: 10px 0 5px 20px #030e05; */
}
.portfolio div{
font-size: 6vh;
}
.cards i{
    color:#5aca7688;
    margin-left: 1vw;
    margin-right: 1vw;
}
@keyframes clignoter{
    0%{opacity: 0.2;}
    5%{opacity: 1;}
    10%{opacity: 0.1;}
    15%{opacity: 1;}
    40%{opacity:0.1;}
    45%{opacity: 1;}
    59%{opacity: 0.1;}
    60%{opacity: 0.5;}
    100%{opacity: 1;}
}

#P{
color: #72f5935d;
}
#O{
color: #72f592;
}
#R{
color: #72f592;
}
#T{
color: #72f592;
}
#F{
color: #72f592;
}
#O{
color: #72f592;
}
#L{
color: #72f592;
animation-duration: 2s;
animation-name: clignoter;
animation-iteration-count: infinite;
transition: none;
}
#II{
color: #72f59344;
}

.picture2  i{
    font-size: 200px;
    color: #39d656;
}
/* ============================= Contact ================================= */
.main-contact{
    padding-left: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    height: 100%;
}

#boxBtnCV{
    width: 100%;
    display: flex;
    justify-content: center;
}
#btnCV a{
    color: #5aca76;
}
#btnCV{
    font-size: 30px;
    
    width: 150px;
    height: 80px;
    border: #5aca76 solid 2px;
    background-color: #222222;
    grid-row: 2;
    grid-column: 5;
    transition: 0.5s;
}
#btnCV:hover{
    transform: scale(0.9);
box-shadow:none;
border-top: #5aca76 solid 15px;
border-bottom: #5aca76 solid 15px;
border-left: #5aca76 solid 15px;
border-right: #5aca76 solid 15px;
transition: 0.5s;
}
#form{
    border: #45ac5e solid 2px;
    padding: 20px;
}
form{
    width: 100%;
    height: 300px;
    color: #3aa354;
    display: grid;
    grid-template-columns:200px 200px  100px  200px  200px;
    grid-template-rows:50px 50px 150px 50px;
}
form > label{
    display: flex;
    align-items: center;
    justify-content: center;
}
#labelprenom{
    grid-row: 1;
    grid-column: 1;
}
#inputprenom{
    margin-top:10px ;
    margin-bottom: 10px;
    grid-row: 1;
    grid-column: 2;
}
#labelnom{
    grid-row: 1;
    grid-column: 4;
}
#inputnom{
    margin-top:10px ;
    margin-bottom: 10px;
    grid-row: 1;
    grid-column: 5;
}
#labelemail{
    grid-row: 2;
    grid-column: 1;
}
#inputemail{
    margin-top:10px ;
    margin-bottom: 10px;
    grid-row: 2;
    grid-column: 2;
}
#commentaire{
    margin-top: 20px;
    margin-bottom: 20px;
    grid-row: 3;
    grid-column: 1/6;
}

#btnSubmit{
    grid-row: 4;
    grid-column: 3;
    font-size: 10
    3px;
    color: #3aa354;
    border: #5aca76 solid 2px;
    background-color: #222222;
}
#btnSubmit:hover{
    transform: scale(0.9);
    box-shadow:none;
    border-top: #5aca76 solid 15px;
    border-bottom: #5aca76 solid 15px;
    border-left: #5aca76 solid 15px;
    border-right: #5aca76 solid 15px;
    transition: 0.5s;
}
#mail{
    font-size: 30px;
}




/* ============El Diablo Responsive de la Muerte ======== */

@media (hover: hover){

}



@media screen and (max-width: 1556px){
    body{
        grid-template-columns: 150PX 60px 80px repeat(8, 1fr) 150PX;
        grid-template-rows: 30px 50PX repeat(10, 1fr) 50PX 30PX;
        }
    nav{
        width: 80%;
    }
    nav i{
        font-size: 35px;
    }
    main{
        padding-left: 5%;
        padding-right: 2%;
    }

}
@media screen and (max-width: 1394px){

    body{
    grid-template-columns: 100PX 60px 80px repeat(8, 1fr) 100PX;
    grid-template-rows: 20px 50PX repeat(10, 1fr) 50PX 20PX;
    }
    nav{
        width: 80%;
    }
    nav i{
        font-size: 35px;
    }
}
@media screen and (max-width: 985px){
    body{
        grid-template-columns: 70PX 60px 80px repeat(8, 1fr) 70PX;
        grid-template-rows: 0px 50PX repeat(10, 1fr) 50PX 0PX;
}
nav{
    left: 5%;
    top: 90px;
    position: absolute;
    border-radius: 0;
    width: 90%;
    height: 5vh;
}
#useless{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#characteristicBox{
    margin-left: 0;
}
body >main{
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
}
#skillsBox{
    margin-left: 0;
    width: 98%;
}
#presentationBox  p{
    width: 70%;
}
.main-exp{
    padding-left: 0;
}
.main-exp  li{
    width: 80%;
    padding-right: 0px;
}
.forScroll{
    padding: 0px;
}
.main-contact{
    padding-left: 0;
}
}
@media screen and (max-width: 1320px){
form{
    display: flex;
    flex-direction: column;

}
}

/* AboutMe */
@media screen and (max-width: 1250px){
#characteristicBox h3{
    font-size: 15px;
}
.qualityBar{
    width: 250px;
    height: 17px;
}
.band > i{
    font-size: 30px;
}
#languages h2{
    font-size: 20px;
}
}
@media screen and (max-width: 1095px){
#presentationBox h1{
    font-size: 40px;
}
#presentationBox h2{
    font-size:20px;
}
#presentationBox p{
    font-size:13px;
}
}
@media screen and (max-width: 815px){
#avatar{
    width: 200px;
    height: 150px;
}
.qualityBar{
    width: 200px;
    height: 15px;
}
.band > i{
    font-size: 25px;
}
.iconPL i{
    font-size: 45px;
}
#mysql{
    font-size: 20px;
}
}
@media screen and (max-width: 756px){
    #presentationBox h1{
        font-size:30px;
    }
    #presentationBox h2{
        font-size:15px;
    }
    #presentationBox p{
        font-size:12px;
    }
    #languagesElements ul{
        font-size:15px;
    }
}
@media screen and (max-width: 708px){
#characteristicBox{
    flex-direction: column;
    align-items: center;
    height: 380px;
    width: 100%;
}
#qualities{
    width: 350px;
    border-right: none;
}
.qualityElements{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.qualityBar{
    margin-left: 10px;
    height: 10px;
}
#hobbiesElements{
    border-top: #5aca76 1px solid;
    border-bottom: #5aca76 1px solid;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-right: 10px;
    width: 100%;
    border-right: none;
    justify-content: space-evenly;
    margin-top: 10px;
    padding-bottom: 25px;
    padding-top: 25px;
}
#hobbiesElements h3{
    text-align: center;
}
.band{
    display: flex;
    flex-direction: column;
}
.band > i{
    margin: 5px auto;
    font-size: 20px;
}
.band > h3{
    font-size: 10px;
}
#skillsBox{
    height: 200px;
    display: flex;
    align-items: center;

}

#languagesElements{
    padding: 0;
    height: 100%;
}
#languages{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
}
#languagesElements ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
#languagesElements li{
    width: 100%;

}
body >main{
    padding-top: 85px;
}
#main-aboutme{
    display: flex;
    justify-content: initial;
}
#qualities{
    padding-bottom: 15px;
}
#presentationBox{
    margin-bottom: 25px;
}
}


/* FORMAT MOBILE */
@media screen and (max-width: 675px){
    body{
        display: grid;
        grid-template-columns: 50PX 60px 80px repeat(8, 1fr) 50PX;
        grid-template-rows: 20px 40PX repeat(10, 1fr) 30PX 0PX;
    }
nav{
    position: absolute;
    border-radius: 0;

}
#useless{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 0px;
}

}
@media screen and (max-width: 617px){
    #main-aboutme > #presentationBox{
        display: flex;
        flex-direction: column-reverse;
    }
    #avatar{
        border: #5aca76 1px solid;
        margin: 0  auto;
        width: 150px;
        height: 150px;
    }
    #presentation p{
        width: 90%;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    #presentation h1{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .iconPL i{
        font-size: 30px;
}
#qualities{
    padding-bottom: 10px;
}
}
@media screen and (max-width: 617px){
    .band i{
        font-size: 15px;
    }
    #hobbiesElements div > h3{
        font-size: 12px;
    }
}
@media screen and (max-width: 617px){
    #avatar{
        width: 120px;
        height: 120px;
    }
    .iconPL i{
        font-size: 25px;
}
#qualities{
    width: 300px;
}
.qualityBar{
    height: 6px;
    width: 155px;
}
#presentationBox{
    margin-bottom: 10px;
}
}
/* @media screen and (max-width: 432px){
    #avatar{
        width: 110px;
        height: 110px;
    }
    #qualities{
        width: 270px;
    }
    .qualityBar{
        height: 6px;
        width: 145px;
    }
} */
/* experience */
@media screen and (max-width: 600px){
    .main-exp h2{
        font-size: 30px;
    }
    .main-exp h3{
        font-size: 20px;
    }
    .main-exp p{
        font-size: 15px;
    }
}
@media screen and (max-width: 463px){
    body{
        display: grid;
        grid-template-columns: 30PX 60px 80px repeat(8, 1fr) 30PX;
        grid-template-rows: 20px 40PX repeat(10, 1fr) 30PX 0PX;
    }
    #avatar{
        width: 90px;
        height: 90px;
    }
    #qualities{
        width: 270px;
    }
    .qualityBar{
        height: 6px;
        width: 145px;
    }
    #hobbiesElements{
        padding: 0;
    }
}

