*,::before,::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: title;
    src: url(./pages/img/Urbanist/Urbanist-VariableFont_wght.ttf)
}
@font-face {
    font-family: sous-titre;
    src: url(./icon/Cabin-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: usual;
    src: url(./icon/KantumruyPro-VariableFont_wght.ttf);
}
/* /https://coolors.co/palette/f72585-b5179e-7209b7-560bad-480ca8-3a0ca3-3f37c9-4361ee-4895ef-4cc9f0 */
body{
    display: grid;
    grid-template-columns: 200PX 60px 80px repeat(8, 1fr) 200PX;
    grid-template-rows: 40px 50PX repeat(10, 1fr) 50PX 40PX;
    height: 100vh;
    background-color: black;
}
body >main{
    outline: 2px solid #409154;
    outline-offset: -10px;
    padding-left: 5vh;
    height: 100%;
    width: 100%;
    background-color: #222222;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 13;
}
/* ============================= NAV ================================= */
nav{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #409154;
    width: 100;
    grid-row-start: 2;
    grid-row-end: 14;
    grid-column-start: 3;
    z-index: 3;
    box-shadow: 2px 2px 6px rgb(54, 75, 50);;
}
nav section{
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
a{
    display: flex;
    justify-content: center;
    text-decoration: none; 
}

nav i{
    font-size: 50px;
    color: black;
    background-color: #409154;;
}
nav i:hover{
    color: rgb(73, 218, 121);
}
li{
    list-style: none;
}

/* ============================= About me ================================= */
.main-aboutme{
    
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.main-aboutme .monimg{
    height: auto ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.monimg h1{
    font-family: title;
    color: #5aca76;
    text-align: center;
    font-size: 6vh;
    margin-top: 3vh;
}
.presentation{
    text-align: center;
}
.presentation p{
    color: #aca8a8;
    margin-top: 5vh;
    margin-left: 8vw;
    padding-right: 5vw;
    
}
.img{
    margin-bottom: 1vh;
    display: flex;
    margin:3vh;
    flex-direction: column;
    border-bottom: 2px #409154 solid;
    border-left: 2px #409154 solid;
    width: 40vw;
    height: 30vh;
    background-image: url(./pages/img/avataaars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: center;
}
.img img{
    margin: 0 auto;
    width: 13vw;
    height: 41vh;
}
.main-aboutme h2{
    color:#519461;
}

/* === Mid-Box === */
.me{
    height: 75%;
}
.mid-Box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 98%;
}
.mid-Box h2{
margin-bottom: 3vh;
}
.mid-Box li{
    color: rgb(207, 210, 212);
    }
.midLeftBox{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 7.5vw;
    border-bottom: 2px solid #5aca76;
    border-right: 2px solid #5aca76;
}
.travel{
    text-align: center;
    width: 15vw;
}
.midLeftBox li{
    margin: 2vh;
}
.hobbies{
    display: flex;
    width: 40vw;
    height: 13vh;
    border-top: 2px solid #409154;

    justify-content: space-evenly;
}

.hobbies > .band{
    border: #5aca76 solid 1px;
    width: 5vh;
    height:5vh;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.band{
    transition: 1s;
    display: flex;
    justify-content: center;
}

.hobbies i{
    color: rgb(207, 210, 212);
    font-size: 3vh;
    margin-top: 1vh;


    /* writing-mode: vertical-rl;
    text-orientation: upright;
*/
} 
/* .Pers2{
    margin-top: 3vh;
    width: 100%;
} */
.diagram p{
    text-align: center;
    margin-bottom: 1vh;
    color: #61996f;
    font-size:15px;
}
.diagram{
    margin-top: 2vh;
    margin-left: 3vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.diagram div > div{
border: 1px solid #5aca76;
}
#tw{
    border-left: 2px solid #5aca76;
    border-top: 2px solid #5aca76;
    padding: 2vh;
}
#TW{
    
    background-image: conic-gradient(
        #222222 70deg,  
        #5aca76 0);
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #409154;
}

#C{
    background-image: conic-gradient(
        #222222 80deg,  
            #5aca76 0);
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #409154;
}
#c{
    padding: 2vh;
}
#I{
    background-image: conic-gradient(
        #222222 40deg,  
        #5aca76 0);
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #409154;
}
#i{
    padding: 2vh;
}
#Crea{
    background-image: conic-gradient(
        #222222 70deg,  
        #5aca76 0);
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #409154;
}
#crea{
    padding: 2vh;
}
#OE{
    background-image: conic-gradient(
        #222222 70deg,  
            #5aca76 0);
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #409154;
}
#oe{
    padding: 2vh;
    border-right: 2px solid #5aca76 ;
    border-bottom: 2px solid #5aca76 ;
}
#hobbies{
    display: flex;
    flex-direction: column;
}
.details{
    color: #5aca76;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid  #5aca76;
    width: 80%;
    height: 5vh;
    display: flex;
    justify-content: center;
    padding: 1.5vh;
}
/* .details i{
font-size: x-larger;
} */
/* ============================= Experience ================================= */

/* Creer animation du bas en haut de div qui remonte comme des gouttes d'eau, de facon random la vitesse? */
/* https://codepen.io/v_trefil/pen/ZpRBRP */
.main-exp{
    height: 82vh;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 2rem;
}
.forScroll{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.main-exp li{
    margin:0 auto ;
    font-size: 2vh;
    padding: 3vh;
    display: flex;
    align-items: center;
    width: 45vw;
    height: 12vh;
    color: rgb(207, 210, 212);
}
.main-exp h2{
    text-align: center;
    margin: 2rem;
    font-size: 3rem;
    color:#409154;
}
.one{
    display: flex;
    justify-content: flex-start;
    border-left: 1px solid #5aca76;
    border-left: 1px solid #5aca76;
    border-bottom: 1px solid #5aca76;
}
.two{
    justify-content: flex-end;
    border-left: 1px solid #5aca76;
    border-bottom: 1px solid #5aca76;
}
.three{
    justify-content: flex-start;
    border-right: 1px solid #5aca76;
    border-bottom: 1px solid #5aca76;
}
.four{
    justify-content: flex-end;
    border-right: 1px solid #5aca76;
    border-bottom: 1px solid #5aca76;
}
.five{
    justify-content: flex-start;
    border-left: 1px solid #5aca76;
    border-bottom: 1px solid #5aca76;
}
.six{
    justify-content: flex-end;
    border-right: 1px solid #5aca76;
    border-bottom: 1px solid #5aca76;
}
.seven{
    justify-content: flex-start;
    border-left: 1px solid #5aca76;
    border-bottom: 1px solid #5aca76;
}
.eight{
    justify-content: flex-end;
    border-right: 1px solid #5aca76;
}
/* ============================= Skills ================================= */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotateInverse {
    from {transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.main-cmpt{
display: flex;
    height: 100%;
    margin-left: 5vw;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;

}

#container{
    /* z-index: 3; */
    outline: 4px solid #5aca76;
    outline-offset: -100px;
    border: #51946173 10px dashed;
    border-radius: 50%;
    width: 650px;
    height: 650px;
    display: grid;
    grid-template-columns:repeat(6, 1fr);
    grid-template-rows:repeat(6, 1fr) ;
    position: relative;
    animation: 45s linear infinite rotate;
    align-items: center;
    justify-content: center
}

.main-cmpt i{
    font-size: 4rem;
    background-color: #222222;
    color :#54a167;
    border-radius: 50%;
}
.main-cmpt i:hover{
    background-color: #222222;
    color :#91cea0;
}
#mysql:hover{
    background-color: #222222;
    color :#91cea0;
}
#container .iconPL{
    margin: 4vh;
    border-radius: 50%;
    /* border: 1px solid #5aca76; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconPL{
    animation: 45s linear infinite rotateInverse;
}
#compt{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 22.5s linear infinite rotateInverse;
    color: #54a167;

    margin: 0 auto;
    grid-row: 3/5;
    grid-column: 3/5;
    border: 8px dashed #5aca766e;;
    /* border: 3px solid #5aca766e; */
    width: 15vw;
    height: 30vh;
    border-radius: 50%;
    outline: 5px solid #5aca76;
    outline-width: 5px;
    outline-offset: -50px;
}
#compt div{
    animation: 45s linear infinite rotate;

}
#html{
    grid-row: 2;
    grid-column: 3;
}
#css{
    grid-row: 2;
    grid-column: 4;
}
#js{
    grid-row: 3;
    grid-column: 2;
}
#php{
    grid-row: 4;
    grid-column: 2;
}
#mysql{
    background-color: #222222;
    font-size: 3vh;
    color: #54a167;
    grid-row: 5;
    grid-column: 3;
}
#sf{
    grid-row: 5;
    grid-column: 4;
}
#git{
    grid-row: 4;
    grid-column: 5;
}
#angular{
    grid-row: 3;
    grid-column: 5;
}
.detailSkills{
border-right: #409154 solid 1px;
border-left: #409154 solid 1px;
justify-content: flex-end;
width: 20vw;
height: 40vh;
}

/* ============================= Portfolio ================================= */
.main-portfolio{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.picture2{
    background-image: url(./pages/img/glasses-1052010_1280.jpg);
    height: 20vh;
    width: 100%;
    background-size: cover;
}
.picture1{
    background-image: url(./pages/img/matcha-6079526_1920.jpg);
    height: 20vh;
    width: 100%;
    background-size: cover;
}
.cards{
    box-shadow: 5px 5px 10px #030e05,-5px -5px 10px ;
    border: #5aca76 solid 2px;
    width: 17vw;
    height: 45vh;
    transition: 3s;
}
.cards:hover{
    transition: 2s;
    transform: scale(1.3);
    box-shadow: 5px 5px 20px #030e05,-5px -5px 20px ;
}
.main-portfolio a{
    align-items: center;
    background-color: #2a423094;
    text-align: center;
    font-size: 1.5vw;
    color: #5aca76;
    margin-top: 4vh;
    width: 100%;
    height: 5vh;
}
.main-portfolio p{
    margin-top: 3vh;
    text-align: center;
    color: #48664f;
}
.portfolio{
    height: 75vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    color: #397e49;
    border-right: 2px solid#5aca764d;
    padding-right: 1vw;
    /* box-shadow: 10px 0 5px 20px #030e05; */
}
.portfolio div{
font-size: 6vh;
}
.cards i{
    color:#5aca7688;
    margin-left: 1vw;
    margin-right: 1vw;
}
@keyframes clignoter{
    0%{opacity: 0.2;}
    5%{opacity: 1;}
    10%{opacity: 0.1;}
    15%{opacity: 1;}
    40%{opacity:0.1;}
    45%{opacity: 1;}
    59%{opacity: 0.1;}
    60%{opacity: 0.5;}
    100%{opacity: 1;}
}

#P{
color: #72f5935d;
}
#O{
color: #72f592;
}
#R{
color: #72f592;
}
#T{
color: #72f592;
}
#F{
color: #72f592;
}
#O{
color: #72f592;
}
#L{
color: #72f592;
animation-duration: 2s;
animation-name: clignoter;
animation-iteration-count: infinite;
transition: none;
}
#II{
color: #72f59344;
}


/* ============================= Contact ================================= */
.main-contact{
    display: flex;
    justify-content: space-evenly;
    font-size: 4rem;
    margin-left: 5vw;
    height: 81.2vh;
    font-size: 5rem;
    align-items: center;

}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #478f58;
    height: 79.5vh;
    width: 10vw;
}
.box div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#mail{
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
}
#begin{
    padding-top: 4vh;
    justify-content: flex-end;
    writing-mode: vertical-rl;
    font-size: 3.5vh;
}
#end{
    padding-bottom: 4vh;
    font-size: 3.5vh;
    writing-mode: vertical-rl;
}
#arobase{
    color: #478f58;
    background-color:#222222;
    /* border: solid 1px #397e49; */
    width: 11vw;
    height: 20vh;
    padding: 20px;
    border-radius: 150px;
    transition: 1s;
}
#arobase:hover{
    align-items: center;
    height: 70vh;
    transition: 1s;
}
.box  #btnCV a{
    transition: 1s;
    align-items: center;
    padding: 20px;
    color: #397e49;
    background-color:#222222;
    width:11vw;
    height: 20vh;
    border-radius: 150px;
}
.box #link{
    align-items: center;
    transition: 1s;
    padding: 20px;
    color: #397e49;
    background-color:#222222;
    width: 11vw;
    height: 20vh;
    border-radius: 150px;
}
#link:hover{
    align-items: center;
    height: 70vh;
    transition: 1s;
}
#btnCV a:hover{
    align-items: center;
    height: 70vh;
    transition: 1s;
}

/* ============El Diablo Responsive de la Muerte ======== */

@media (hover: hover){
    .band:hover{
        height: 10vh;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 1556px){
    body{
        grid-template-columns: 150PX 60px 80px repeat(8, 1fr) 150PX;
        grid-template-rows: 30px 50PX repeat(10, 1fr) 50PX 30PX;
        }
    nav{
        width: 80%;
    }
    nav i{
        font-size: 35px;
    }
    main{
        padding-left: 5%;
        padding-right: 2%;
    }
    .img{
        height: 70%;
        margin: 0.5vh;
        margin-top: 3vh;
    }
    .mid-Box{
        margin-top: 4vh;
        margin-bottom: 6vh;
    }
}
@media screen and (max-width: 1394px){

    body{
    grid-template-columns: 100PX 60px 80px repeat(8, 1fr) 100PX;
    grid-template-rows: 20px 50PX repeat(10, 1fr) 50PX 20PX;
    }
    nav{
        width: 80%;
    }
    nav i{
        font-size: 35px;
    }
    .img{
        height: 60%;
    }
}
@media screen and (max-width: 1120px){
    .mid-Box{

        margin-bottom: 2vh;
    }
.Pers2{
    margin: 0 auto;
    height: 250px;
}
.diagram{
    height: 250px;
    flex-wrap:wrap;
}
.cercleBox{
    margin-left: 2vh;
    margin-right: 2vh;
}
.Dcercle{
    margin: 0 auto;
    height: 50px;
    width: 50px;
}
.presentation p{
    font-size: 13px;
}
.monimg h1{
    font-size: 4vh;
}
#oe{
    border: none;
    padding: 2px;
    margin-bottom: 10px;
    }
    #tw{
        border: none;
    }
    #TW{
        height: 75px;
        width: 75px;
    }
    #C{
        height: 75px;
        width: 75px;
    }
    #I{
        height: 75px;
        width: 75px;
    }
    #Crea{
        height: 75px;
        width: 75px;
    }
    #OE{
        height: 75px;
        width: 75px;
    }
    #oe{
        padding: 2vh;
    }
.diagram{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
    height: 30vh;
}

.mid-Box{
    margin-top: 6vh;
    height: 180px;
    }
}
@media screen and (max-width: 1034px){
    .mid-Box{
        margin-top: 10px;
    }
}
@media screen and (max-width: 985px){
    body{
        grid-template-columns: 70PX 60px 80px repeat(8, 1fr) 70PX;
        grid-template-rows: 0px 50PX repeat(10, 1fr) 50PX 0PX;
}
nav{
    left: 5%;
    top: 90px;
    position: absolute;
    border-radius: 0;
    width: 90%;
    height: 5vh;
    /* left: 35px;
    top: 35px;
    height: 200px;
    width: 200px;
    border-radius: 50%;  */
}
.main-aboutme{
    margin-top: 70px;
}
.main-aboutme .monimg{
    justify-content:flex-end;
}
body main{
padding: 0;
}
.monimg h1{
    text-align: end;
    margin-right: 25px;
}
.presentation{
    width: 70%;
    padding-left: 20px;
}
.img{
    margin-right: 25px;
    width:20%;
    height: 80%;
}
.presentation > p{
    padding-right: 20px;
    text-align: end;
}
#useless{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-top: 0px;
}
#myself{
    grid-row: 2;
    grid-column: 2;
}
#myExp{
    grid-row: 3;
    grid-column: 3;
}
#myPortfolio{
    grid-row: 3;
    grid-column: 1;
}
#myContact{
    grid-row: 1;
    grid-column: 3;
}
.Pers{
    padding: 10px;
}

.monimg{
    margin-bottom: 15px;
}
.mid-Box{
    margin-bottom: 0;
}
.diagram{
    margin-top: 0;
}
.diagram p{
    font-size:12px;
}
}

@media screen and (max-width: 815px){
.monimg  h1{
    font-size: 30px;
}
.presentation > p{
    padding-left: 40px;
    text-align: end;
}
.details{
    display: none;
}
.mid-Box{
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
}

.travel{
    width: 100%;
    display: flex;
    border: none;
    flex-direction: row;
}
.langues{
    width: 100%;
    display: flex;
    border: none;
    flex-direction: row;

}
.midLeftBox{
    display: flex;
    border: none;
    flex-direction: column;
    width: 100%;
    /* margin-left: 100px; */
}
.midLeftBox ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.midLeftBox > li{
    display: flex;

}
.mid-Box h2{
    display: flex;
    align-items: center;
    margin-bottom: 0vh;
    text-align: center;
}
.hobbies{
    margin-top: 3vh;
    border: none;
    width: 100%;
}
.hobbies .band{
    border-radius: 50%;
}
}
@media screen and (max-width: 785px){
    .presentation > p{
        padding-left: 55px;
    }
    .monimg  h1{
        font-size: 25px;
    }
}


/* FORMAT MOBILE */
@media screen and (max-width: 675px){
    body{
        display: grid;
        grid-template-columns: 50PX 60px 80px repeat(8, 1fr) 50PX;
        grid-template-rows: 20px 40PX repeat(10, 1fr) 30PX 0PX;
    }
nav{
    position: absolute;
    border-radius: 0;
    /* width: 90%;
    height: 5vh; */
    /* grid-column-start: 2;
    grid-column-end: 11;
    grid-row: 2; */
}
#useless{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 0px;
}
.main-aboutme > .monimg {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}
.img{
    display: none;
}
.presentation{
    width: 100%;
}
.monimg h1{
    margin-bottom: 1vh;
    text-align: center;
}
.presentation > p{
    margin: 0;
    padding-left: 0;
    text-align:center;
}
.midLeftBox h2{
    font-size: 20px;
}
}
@media screen and (max-width: 559px){
    .monimg h1{
        margin-top: 4vh;
        margin-bottom: 3vh;
    }
    .mid-Box{
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
.Dcercle{
    border-radius: 0;
}
nav{
    width: 85%;
}
#oe{
    padding: 0;
    margin-bottom: 0;
    }
    #TW{
        height: 50px;
        width: 50px;
    }
    #C{
        height: 50px;
        width: 50px;
    }
    #I{
        height: 50px;
        width: 50px;
    }
    #Crea{
        height: 50px;
        width: 50px;
    }
    #OE{
        height: 50px;
        width: 50px;
    }
    #TW{
    }
    .diagram{
        margin: 0 auto;
        padding: 0;
    }
    .hobbies{
        height: 60px;
    }
    .hobbies .band{
        width: 4vh;
        height:4vh;
    }
    .hobbies i{
        color: rgb(207, 210, 212);
        font-size: 2vh;
    }
}

